body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    select, table {
      margin-top: 10px;
    }
    .main-container {
      display : flex;
      
      justify-content: center;
      flex-direction: column;
      width: 800px;
    }


    .left-header {
      text-align: center;
    }

    #ReversalTradingTable{
      width: 800px;
      /*height: 300px;/* Fixed height for each table */
      overflow-y: auto; /* Add scroll if content overflows */
    }

    table {
      border-collapse: collapse;
      margin-top: 10px; /* Add space only at the top */
      /* border: 1px solid #ccc;  Table border */
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f4f4f4;
      /* font-size: 6px; */
    }
    td{
      font-size: 14px;
      padding: 3.3px;
    }

    .bar-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      margin: 5px 0;
      position: relative;
    }
    
    .bar {
      height: 100%;
      border-radius: 5px;
      position: relative;
      transition: all 0.3s ease;
    }
    
    .bar.bullish {
      background-color: #28a745; /* Green for Bullish */
      width: 48%; /* Adjust width to fit both bars */
    }
    
    .bar.bearish {
      background-color: #dc3545; /* Red for Bearish */
      width: 48%; /* Adjust width to fit both bars */
    }
    .tooltip {
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
      padding: 6px 10px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      opacity: 0;
      transform: translate(-50%, -10px);
      pointer-events: none;
      transition: opacity 0.2s, transform 0.2s;
    }
    
    .bar:hover .tooltip {
      opacity: 1;
      transform: translate(-50%, -20px);
    }
    
    .bar:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
 
    



   








